@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
section .profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
section .profile .profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #4070f4;
  padding: 2px;
  margin-bottom: 20px;
}
.profile .profile-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  border: 3px solid #fff;
}
.profile .name,
.profile .profession {
  font-size: 22px;
  font-weight: 500;
  color: #333;
}
.profile .profession {
  font-weight: 400;
  margin-top: -6px;
}
.profile .open-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  background-color: #4070f4;
  margin-top: 20px;
  border-radius: 6px;
  font-size: 24px;
  transition: all 0.3s ease;
}
.profile .open-btn:hover {
  background-color: #275df1;
}
.profile .open-btn i {
  display: grid;
  place-items: center;
}
.icon {
  width: 22px;
  height: 22px;
}
.profile .open-btn {
  font-size: 20px;
  color: #fff;
}

section .popup-box {
  position: absolute;
  opacity: 0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
section.show .popup-box {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
section .popup-box {
  position: absolute;
  padding: 30px;
  max-width: 420px;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
}
section .popup-box .profile-text {
  display: flex;
  align-items: center;
}
section .popup-box img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-text .text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.profile-text .text .name {
  font-size: 18px;
  font-weight: 400;
}
.profile-text .text .profession {
  font-size: 16px;
  font-weight: 500;
}
section .popup-box textarea {
  min-height: 200px;
  width: 100%;
  margin-top: 20px;
  outline: none;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  resize: none;
  font-size: 18px;
  font-weight: 400;
  background: #f3f3f3;
}
section .popup-box .group-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.popup-box .group-btn button {
  padding: 8px 14px;
  border-radius: 6px;
  background-color: #6f93f6;
  margin-left: 12px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.popup-box .group-btn button.cancel-btn {
  background-color: #f082ac;
}
.popup-box .group-btn button.cancel-btn:hover {
  background: #ec5f95;
}
.popup-box .group-btn button.send-btn:is(:hover, .active) {
  background: #275df1;
}

.popup-box .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .close-btn {
  display: grid;
  place-items: center;
  background-color: #fff;
  width: 22px;
  height: 22px;
}
.header .close-icon {
  width: inherit;
  height: inherit;
}

@media (max-width: 510px) {
  .profile-text .text .name {
    font-size: 18px;
  }
  .profile-text .text .profession {
    font-size: 16px;
  }
}
